@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
.checkbox{

  margin-top:20px;
 height:30px;
  border-bottom:1px dotted grey;
}
#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
  padding: 20px;
}

.shopping-item {
  display: block;
  font-size: 30px;
  margin-bottom: 15px;
}

.shopping-item__checked {
  text-decoration: line-through;
}

.shopping-item-controls{

  display:inline-block;

  position:absolute;
  right:20px;
  transform:translateY(-45px);
  }
  

form{
  margin:10px 0px;
}

.hide-item{
  display:none;

}

.edit {
  float: left;
  width: 20px;
  height: 20px;
  display: block;
  background-size:20px;
  cursor: pointer;
  margin-right: 20px;
}


.js-item-index-element{
  position:relative;
 
}
.edit-item-input{
  margin-top:8px;
	font-size:18px;
	color:#545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
	display:none;
	width:280px;
}

h1{


}